# --- Unity 기본 무시 설정 ---
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.app
crashlytics-build.properties

# --- Firebase SDK 관련 무시 설정 ---
Assets/Plugins/Firebase/*
!Assets/Plugins/Firebase/*.meta
!Assets/Plugins/Firebase/Editor/*.meta

Assets/Firebase/Plugins/x86_64/
Assets/Firebase/Plugins/x86/

Assets/ExternalDependencyManager/
Assets/PlayServicesResolver/
Assets/GeneratedLocalRepo/

# --- Firebase 설정 파일은 포함해야 하므로 제외하지 않음 ---
!Assets/google-services.json

# --- Addressables 무시 설정 ---
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*